In [3]:
import numpy as np

# Creating np arrays

In [4]:
arr = np.arange(5) #list from 0 to 4 will be created 
print(arr)

[0 1 2 3 4]

In [5]:
arr = np.arange(7,72,4)
print(arr) #print numbers between 7 and 72(exclusive) with a difference of 4

[ 7 11 15 19 23 27 31 35 39 43 47 51 55 59 63 67 71]

In [6]:
arr = np.linspace(7,70,20) #generate 20 numbers between 7 and 70(inclusive) 
print(arr)

[ 7.         10.31578947 13.63157895 16.94736842 20.26315789 23.57894737
 26.89473684 30.21052632 33.52631579 36.84210526 40.15789474 43.47368421
 46.78947368 50.10526316 53.42105263 56.73684211 60.05263158 63.36842105
 66.68421053 70.        ]

In [7]:
arr = np.array([2,5,3,4,6,4,8,9,12]) 
print(arr,type(arr))

[ 2  5  3  4  6  4  8  9 12] <class 'numpy.ndarray'>

In [8]:
arr.ndim #dimension of array

1

In [9]:
arr.shape  #no. of elements in tuple form

(9,)

In [10]:
arr.itemsize #no. of bytes required to store one element

4

In [11]:
arr.size #length of arr

9

In [13]:
arr2=np.array([[1.1,2.4,3],[4,5,6]]) #creating 2 dimensional array
print(arr2)

[[1.1 2.4 3. ]
 [4.  5.  6. ]]

In [14]:
arr2.ndim  #dimension of arr2

2

In [15]:
arr2.size

6

In [20]:
arr3=np.array([[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]]) #3d array
print(arr3)
print("dimension of arr3 : ",arr3.ndim)
print("shape of arr3 : ",arr3.shape)

[[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]
dimension of arr3 :  3
shape of arr3 :  (2, 2, 3)

In [17]:
arr4=np.array([[[1,2,3],[4,5,6],[7,8,9]]]) #3d array
arr4.ndim

3

In [18]:
arr4.shape

(1, 3, 3)

In [21]:
np.ones((2,3)) #putting ones at all places with an argument of shape of the array

array([[1., 1., 1.],
       [1., 1., 1.]])

In [22]:
12*np.ones((2,3)) #multiply by 12 to get 12's in one array

array([[12., 12., 12.],
       [12., 12., 12.]])

In [23]:
np.random.randn(2,3,5) #randn will give the series of numbers which are sampled with a sample distribution with mean 0 and variance 1
#you will find the no. are ranging between 0 and 1 because variance is 1.

array([[[-1.09587041,  1.1199947 ,  0.92872195,  0.80764654,
         -1.55536569],
        [ 0.14312102,  1.17583952,  2.11405236, -1.51886363,
         -0.22839796],
        [-1.33845415,  1.10702914,  1.77371242, -1.29685302,
          0.229616  ]],

       [[ 0.98622352, -0.66215165,  0.2538489 ,  1.25575887,
         -1.17216436],
        [-0.80512527, -0.8129229 ,  0.61501953, -0.81488018,
          0.96883499],
        [ 0.87168504,  0.20425669, -0.78606572, -0.95825323,
         -0.14977204]]])

In [24]:
np.random.rand(2,3) #uniformly sampled numbers

array([[0.76926492, 0.95324129, 0.59330477],
       [0.92100679, 0.30445216, 0.81304573]])

In [25]:
np.random.randint(0,12,(2,5)) #generate random numbers within the range of 0 and 12, with the shape of (2,5).

array([[ 0,  6,  1,  7,  5],
       [ 2,  5, 10,  4,  6]])

In [26]:
str_arr1 = np.array(['1.1','2.2','3.3'])
str_arr2=np.array(['1','2','3'])

In [27]:
float_arr = np.array(str_arr1,dtype='float') #converting string array to float 
print(float_arr)
int_arr = np.array(str_arr2,dtype='int') #converting string array to int
print(int_arr)

[1.1 2.2 3.3]
[1 2 3]